:root {
  --main-background: #f0f7f4;
  --main-accent: #648de5;
  --main-secondary: #b3bfb8;
  --main-black-tone: #0a0908;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  transition-duration: 250ms;
  animation-duration: 250ms;
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: var(--main-black-tone);
  align-items: center;
}

#sidebar-toggle {
  color: var(--main-background);
  background-color: var(--main-black-tone);
  font-size: 1.75rem;
  font-weight: 900;
  margin-left: 2rem;
}

#sidebar-toggle:hover {
  transform: scale(1.2, 1.2);
}
#sidebar-toggle:active {
  color: var(--main-secondary);
}

/* main body */

.main-body {
  display: flex;
}

.sidebar {
  height: 100%;
  width: 15%;
  background-color: var(--main-secondary);
  position: absolute;
  left: 0%;
  display: flex;
}
