:root {
  --main-background: rgb(240, 247, 244);
  --main-accent: #648de5;
  --main-secondary: #b3bfb8;
  --main-tertiary: #dce6e1;
  --main-black-tone: #0a0908;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button:hover {
  transform: scale(1.05, 1.05);
}

div {
  transition-duration: 250ms;
  animation-duration: 250ms;
}

button {
  outline: none;
  border: none;
  transition-duration: 250ms;
  animation-duration: 250ms;
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: var(--main-black-tone);
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: space-between;
}

/* HEADER STYLES */

#popup-toggle {
  position: relative;
  margin-right: 2rem;
  background-color: var(--main-black-tone);
  color: var(--main-background);
  font-size: 3rem;
  font-weight: 300;
}
#popup-toggle:hover {
  transform: scale(1.2, 1.2);
}
#popup-toggle:active {
  color: var(--main-secondary);
  transform: scale(1.4, 1.4);
}

#sidebar-toggle {
  color: var(--main-background);
  background-color: var(--main-black-tone);
  font-size: 1.75rem;
  font-weight: 900;
}

#sidebar-toggle:hover {
  transform: scale(1.2, 1.2);
}
#sidebar-toggle:active {
  color: var(--main-secondary);
  transform: scale(1.4, 1.4);
}

/* main body */

.main-body {
  display: flex;
}

#category-add-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

/* SIDEBAR STYLES */
.sidebar {
  height: 120vh;
  width: 15%;
  background-color: var(--main-secondary);
  position: absolute;
  left: -15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
}

#category-add-input {
  outline: none;
  padding: 0.5rem;

  border: none;
  background-color: transparent;
  margin-right: 0.25rem;
  height: 2rem;
  width: 75%;
  border: 2px solid var(--main-tertiary);
}

#add-category-button {
  height: 2rem;
  width: 20%;
  background-color: var(--main-secondary);
  font-size: 2rem;
  margin-right: 5%;
}

.task-add-category-option {
  text-transform: capitalize;
}

#add-task-category-input {
  text-transform: capitalize;
  height: 2rem;
}

.sidebar p {
  font-weight: 700;
  font-size: 1.5rem;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar ul {
  padding-top: 0.5rem;
}
li {
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style-type: none;
}

/* homepage */

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
  width: 100%;
  height: 120vh;
  padding: 4rem;
}

.homepage-wrapper .table-titles {
  margin: 0 auto;
  height: 3rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  width: 65%;
  margin-bottom: 1rem;
}
.table-titles span {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  border-right: 1.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-task-list-wrapper {
  margin: 0 auto;
  height: auto;
  width: 65%;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.main-task-list-wrapper::-webkit-scrollbar {
  display: none;
}

.main-task-list {
  width: 100%;
  height: 100%;
}

.list-task {
  margin: 1rem;
  height: 100%;
  transition-duration: 250ms;
  animation-duration: 250ms;
  height: 4rem;
  overflow: hidden;
  flex-wrap: wrap;
  background-color: var(--main-secondary);
}

.list-task:hover {
  transform: scale(1.01, 1.01);
}
.overview-wrapper:active {
  transform: scale(1.02, 1.02);
}
.list-task .overview-wrapper {
  width: 100%;
  height: 4rem;
  display: flex;
}

.overview-wrapper span {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-transform: capitalize;
}

.list-task-name {
  width: 55%;
  justify-content: flex-start;
  padding-left: 2rem;
}

.list-task-priority {
  width: 15%;
  color: white;
  font-weight: 600;
}
.list-task-deadline {
  width: 15%;
  text-align: center;
  background-color: var(--main-black-tone);
  color: white;
}
.list-task-category {
  width: 15%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.list-task-expand {
  padding: 2rem;
  padding-top: 1rem;
  /* display: none; */
}

.sidebar-category:hover {
  color: var(--main-background);
}

/* popup add task */

.add-task-popup {
  height: 0vh;
  width: 60vw;
  background-color: var(--main-black-tone);
  position: fixed;
  z-index: 1;
  opacity: 0.95;
  margin: 0 auto;
  right: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transform: translate(50%, 10%);
  visibility: hidden;
  transition-duration: 150ms;
  justify-content: space-between;
  overflow: hidden;
}

.add-task-popup > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

#task-datetime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#new-task-deadline {
  padding: 0.5rem;
}

#task-datetime > div {
  width: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#task-datetime > div > * {
  margin: 0.5rem;
  font-size: 1rem;
}
#add-task-priority {
  color: black;
  transition-duration: 150ms;
  width: 16rem;
  height: 2.5rem;
  font-size: 1.25rem;
}

#add-task-priority > option {
  font-size: 1.25rem;
}

.add-task-popup > div > label {
  margin-bottom: 0.5rem;
}

.add-task-popup label {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#popup-buttons {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#add-task-link {
  padding: 0.25rem;
}

#popup-buttons > button {
  width: fit-content;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#task-name-input {
  width: 100%;
  padding: 0.75rem;
}
#task-desc-box {
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* end of popup */

/* list tasks  */
.list-task-expand {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-task-description {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.task-add-subtask-button {
  width: 15%;
  align-self: center;
  margin-top: 1rem;
  padding: 0.5rem;
}

.task-delete-button {
  width: 15%;
  align-self: center;
  margin-top: 1rem;
  padding: 0.5rem;
}

.subtask {
  display: flex;
  margin-top: 0.5rem;
  animation-duration: 150ms;
  transition-duration: 150ms;
  border-radius: 2px;
  background-color: var(--main-background);
}

.subtask:hover {
  transform: scale(1.01, 1.01);
}

.subtask:active {
  background-color: #00a8788a;
  transform: scale(1.01, 1.01);
}

.subtask span {
  font-size: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subtask-list-wrapper {
  margin-top: 1.5rem;
}

.subtask-name {
  width: 60%;
}
.subtask-priority {
  color: var(--main-background);
  width: 20%;
  text-align: center;
}
.subtask-deadline {
  width: 20%;
  text-align: center;
}

.list-task-expand {
  background-color: var(--main-tertiary);
}

.notification {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: min(50%, 15rem);
  margin: 0 auto;
  background-color: var(--main-tertiary);
  right: 10%;
  bottom: 7.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1rem;
  border-top: 0.5rem solid red;
  transform: translate(50%, 20%);
  visibility: hidden;
  overflow: hidden;
  height: 0px;
  transition-duration: 400ms;
}

.subtask-popup {
  position: fixed;
  width: 30%;
  height: 35%;
  color: white;
  opacity: 90%;
  background-color: var(--main-black-tone);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1%;
  display: flex;
  left: 50%;
  overflow: hidden;
  flex-direction: column;
  z-index: 999;
  justify-content: space-evenly;
  transform: translate(-50%, 45%);
  visibility: hidden;
}

.subtask-popup > div {
  display: flex;
  justify-content: space-between;
}

.subtask-popup > div > button {
  padding: 0.5rem;
  border-radius: 2px;
  justify-self: center;
  width: 30%;
  align-self: center;
  border-radius: 2px;
}

.subtask-popup > div > input {
  padding: 0.25rem;
  height: 100%;
  width: 65%;
}

.subtask-popup > div > select {
  padding: 0.25rem;
  height: 100%;
  width: 65%;
}

#cancel-subtask-popup {
  background-color: var(--main-black-tone);
  border: 2px solid white;
  color: white;
}
